<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      href="http://localhost:8888/_img/meta/icon.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="http://localhost:8888/_img/meta/icon.png"
    />

    <script
      src="https://kit.fontawesome.com/15a2ea543e.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="http://localhost:8888/_css/style.css" />
    <script type="text/javascript">
      function maxLengthCheck(object) {
        if (object.value.length > object.maxLength) {
          object.value = object.value.slice(0, object.maxLength);
        }
      }
    </script>
    <title>Mint:KlayWeatherGirls</title>
  </head>
  <body>
    <img id="bg" src="http://localhost:8888/_img/background/test.png" />
    <!--LOGO-->
    <img class="logo" src="http://localhost:8888/_img/meta/icon.png" />
    <div id="root">
      <div id="mint-box">
        <button id="kaikasBtn" onclick="connect();">
          <p>Connect Kaikas</p>
        </button>
        <p id="title">Minting Block Number</p>
        <div id="currentblock">
          <p>CURRENT BLOCK</p>
          <p>#00000000</p>
        </div>
        <div id="mintingstartsat">
          <p>MINTING STARTS AT</p>
          <p>#00000000</p>
        </div>
        <div class="bottomstripe"></div>
        <div id="price">
          <p>Price</p>
          <p>50 Klay</p>
        </div>
        <div id="pertransacion">
          <p>Per Transacion</p>
          <p>100개</p>
        </div>
        <div id="perwallet">
          <p>Per Wallet</p>
          <p>100개</p>
        </div>
        <div class="bottomstripe"></div>
        <div id="nftamount">
          <p>NFT 수량</p>
          <progress id="amountnft" value="7" min="0" max="100"></progress>
          <div id="amount_sign">
            <p>▲</p>
            <p id="count">남은 수량:</p>
          </div>
        </div>
        <div class="bottomstripe"></div>
        <div id="round">
          <p>Round</p>
          <p>Public</p>
        </div>
        <div id="address">
          <p>Contract Address</p>
          <p>0x8863DA25c39e88b723E5737CA5674b2C902ff019</p>
        </div>
        <form id="mint">
          <p>Amount</p>
          <div id="minus">-</div>
          <input
            id="input_amount"
            type="number"
            maxlength="2"
            min="1"
            max="10"
            value="1"
            oninput="maxLengthCheck(this)"
          />
          <div id="plus">+</div>
          <input id="input_submit" value="MINT" onclick="allMint()" />
        </form>
      </div>
    </div>
    <script src="http://localhost:8888/_js/config.js"></script>
    <script src="http://localhost:8888/_js/mintScript.js"></script>
    <script src="http://localhost:8888/_js/general.js"></script>
  </body>
</html>
